*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(12, 12, 12)
}
/* //////////////////////////////////// */
/* ///////////JEFFERSON///////////////// */
/* //////////////////////////////////// */
/* ///////////////POPUP///////////////////// */
.popup{
	position: fixed;
	top: 10%;
	bottom: 0px;
	left: 40%;
	right: 0;
	width: 300px;
	height: 70%;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid rgba(0, 140, 255, 0.781);
    background: #292828f8;
	color: white;
	display: none;
}


.popup .user-photo{
    width: 125px;
    height: 125px;
    background: rgb(78, 78, 78);
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    left: 751px;
    top: 175px;
}

.popup .user-photo img{
    width: 100%;
}

.quad{
    position: fixed;
	top: 19%;
	bottom: 0px;
	left: 595px;
	right: 0px;
	width: 287px;
	height: 25%;
	padding: 15px;
	border: 1px solid  rgba(0, 140, 255, 0.781);
    background: rgba(15, 15, 15, 0.13);
    border-radius: 5px;
}
.map{
    position: fixed;
	top: 45%;
	bottom: 0px;
	left: 595px;
	right: 0px;
	width: 287px;
	height: 34%;
	padding: 15px;
	border: 1px solid  rgba(0, 140, 255, 0.781);
    background: rgba(15, 15, 15, 0.13);
    border-radius: 5px;
}
/* ///////////////PERFIL///////////////////// */
.perfil-user{
    width: 400px;
    margin-left: 280px;
    height:65px;
    border-radius: 15px;
    padding: 10px;
	border: 1px solid rgba(0, 140, 255, 0.781);
	position: relative;
}

.perfil-name{
    color: white;
	margin-left: 80px;
    margin: -55px 50px;
    text-align: center;
}

.perfil-user .user-photo{
    width: 50px;
    height: 50px;
    background: rgb(158, 158, 158);
    border-radius: 50%;
    overflow: hidden;
}

.perfil-user .user-photo img{
    width: 100%;
}
/* ///////////////CHAT///////////////////// */
 .chatbox{
    width: 835px;
    min-width: 600px;
    height:560px;
    background: rgba(75, 75, 75, 0.712);
    border-radius: 15px;
    padding: 25px;
    margin: 0px 38%;
	border: 1px solid rgba(0, 140, 255, 0.781);
	position: relative;

}

.chatlogs{
    padding: 1px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.chatlogs::-webkit-scrollbar{
    width: 15px;
}

.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0,.883)
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo{
    width: 45px;
    height: 45px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100%;
}

.chat .chat-message{
    width: 85%;
    padding: 10px;
    margin: 5px 10px 0;
    background: #1ddced;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    border: 1px solid rgb(0, 0, 0,883);
}

.friend .chat-message{
    background: #d6d6d6;
    color:black;
}
.self .chat-message{
    background: #00b94d67;
    order: -1;
    color: black
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea{
    height: 40px;
    width: 700%;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    padding: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.chat-form textarea:focus{
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0,.1)
}

.chat-form button{
    padding: 1px 6px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(3, 2, 2);

    -webkit-transition: background 2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover{
    background: #dadada
}

/* //////////////////////////////////// */
/* ///////////////PEDRO///////////////////// */
/* //////////////////////////////////// */

.cto{
	position: absolute;
	margin-top: 5%;
	margin-left: 3%;
	margin-bottom: 5%;
    width: 75%;
}
.left{
	position: absolute;
	background-color: #222222;
	width: 30%;
	height: 100%;
}
.right{
	margin-left: 2%;
	position: absolute;
	background-color: #121212;
	width: 90%;
	height: 100%;
}
#profile{
	position: relative;
	background-color: #121212;
	width: 100%;
    height: 10%;
}

#perfil{
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 20px;
	width: 55px;
	height: 55px;
    border-radius: 50%;
}
#perfil1{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	width: 42px;
	height: 42px;
    border-radius: 100px;
}

.borda{
	margin-left: -10px;
	margin-top: -11.3px;
	width: 14%;
	height: 80%;
	background-color: #222222;
	position: absolute;
	border-radius: 50%;
}
#search{
	position: relative;
	background-color: #121212;
	width: 100%;
	height: 7%;
}
.search{
	float: left;
	margin-top: 5px;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 100px;
	border: none;
	background-color: #222222;
	width: 96%;
	height: 85%;
}
#contacts{
	position: relative;
	background-color: #121212;
	width: 100%;
	height: 83%;
}
.btn{
	position: relative;
	background-color: #252525;
	width: 96%;
	height: 12%;
	margin-top: 5px;
	margin-right: 4%;
	margin-left: 4%;
	border: none;
}
.contato{
	text-decoration: none;
	color: #009900;
	font-size: 20px;
}

#pro{
	position: absolute;
	background-color: #121212;
	width: 100%;
	height: 100%;
	margin-left: 3%;
	margin-right: 2%;
	margin-top: 0px;
	margin-bottom: 0px;
}
#perfil2{
	width: 150px;
	height: 150px;
	margin-top: 150px;
	margin-left: 125px;
	border-radius: 100px;
	text-align: center;
}

.group{
	border-radius: 50px;
	margin-left: 4%;
	margin-right: 4%;
	position: relative;
	background-color: #121212;
	width: 92%;
	height: 8%;
}

.rss{
	height: 6%;
	/* width: 80%;
	padding-left: 4%;
	margin-top: -115px;
	margin-left: 100px; */
}

/* .rss2{
	width: 5%;
}
.rss3{
	width: 5%;
	margin-top: -435px;
	margin-left: 100px;
} */